@model KBGAU.Models.CourseInfo

@{
    ViewData["Title"] = "Создание курса";
}

<h2>Создание курса</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Название дисциплины</label>
        <input type="text" class="form-control" asp-for="SubjectName" />
    </div>
    <div class="form-group">
        <label>Название направления подготовки</label>
        <input type="text" class="form-control" asp-for="ProgramName" />
    </div>
    <div class="form-group">
        <label>Номер курса</label>
        <select class="form-control" asp-for="CourseNumber">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label>Номер контрольной точки</label>
        <select class="form-control" asp-for="ControlPointNumber">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="form-group">
        <label>Номер семестра</label>
        <select class="form-control" asp-for="SemesterNumber">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Создать курс</button>
</form>
